#name {
    color: pink;
    text-shadow:
        -1px -1px 0 #000,
        -1px 1px 0 #000,
        1px -1px 0 #000,
        1px 1px 0 #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#name_input {
    width: 300px;
    height: 60px;
    margin: auto;
    padding: 10px;
    background-color: rgb(255, 98, 158);
}
#name_input input {
    height: 100%;
    width: 100%;
    padding: 0 10px;
    font-size: 16px;
    box-sizing: border-box;
}
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
#submit {
    background-color: rgb(255, 132, 158);
    padding: 10px;
    color:aliceblue;
    cursor: pointer;
    font-size: 30px;
}